:root {
    --backgroundcolor: #3d78d9;
    --color1: #fcd601;
    --color2: #fdf9d6;
    --color3: #a2c5fd;
    --color-seckomas: #a41484;
    --color-sckay: #d48122;
    --color-rockal: #82735d;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    scroll-behavior: smooth;
}

header {
    position: fixed;
    width: 100%;
}

body {
    background-color: var(--backgroundcolor);
    background-image: url(../Resources/imgs/background/Background.png);
    background-size: 100vw;
    background-position: top;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
}

button {
    background-color: var(--color1);
    color: black;
    border: none;
}

.nav-flex {
    display: flex;
    justify-content: end;
}

.nav-flex ul {
    display: flex;
    list-style-type: none;
    margin-top: 3vh;
    margin-right: 5vw;
    align-items: center;
}

.nav-flex ul li {
    margin-left: 2vw;

}

.nav-flex ul li :hover {
    color: black;
    border-radius: 7px;
    padding: 13px 7px 13px 7px;
    background-color: var(--color2);
    text-shadow: none;
    transition-duration: 0.3s;
}

.nav-link {
    font-weight: 600;
    padding: 13px 7px 13px 7px;
    color: var(--color2);
    font-size: 16px;
    text-shadow: 1px 1px 2px black;
}

.last-nav-link {
    background-color: var(--color1);
    color: black;
    text-shadow: none;
    border-radius: 7px;
}

.nav-flex ul li button {
    font-weight: 600;
    font-size: 14px;
    padding: 13px 7px 13px 7px;
    border-radius: 7px;
}

/* Inicia texto que acompaña el banner */

.banner {
    padding: 28vh 0 0 2vw;
}

.banner div {
    margin: 0 0 40px 0;
}

.action-call {
    color: var(--color2);
    font-size: 32px;
    max-width: 95%;
}

.h1-company-name {
    margin-top: 2px;
    color: var(--color1);
    font-size: 52px;
    max-width: 95%;
}

.motto {
    margin-top: 15px;
    color: var(--color3);
    font-size: 28px;
    max-width: 600px;
    max-width: 95%;
}

.banner-link {
    font-size: 26px;
    font-weight: 700;
    margin-left: -65px;
    padding: 20px 48px 20px 370px;
    border-radius: 50px;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.5);
    background-color: var(--color1);
    color: black;
}

.banner-link:hover {
    background-color: var(--color2);
    transition-duration: 0.3s;
}

/* Finaliza banner */
/* Inicia contenido de la web */

section h2 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    text-shadow: 1px 1px 4px black;
}

section h3 {
    margin-top: -10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 35px;
    color: var(--color2);
    font-weight: normal;
}

.h2-secKomas {
    margin-top: 20%;
    padding-top: 110px;
    /* Uso de padding para que el scroll se muestre correctamente */
    color: var(--color1);
}

.h2-scKay {
    padding-top: 110px;
    /* Uso de padding para que el scroll se muestre correctamente */
    color: var(--color-sckay);
}

.h2-rocKal {
    padding-top: 110px;
    /* Uso de padding para que el scroll se muestre correctamente */
    color: var(--color-rockal);
}

section p {

    margin-top: 20px;
    max-width: 70%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    color: var(--color3);
    font-size: 24px;
}

/* Galeria */

.galery {
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    overflow: hidden;

}

.galery img {
    width: 30%;
    object-fit: cover;
    object-position: 50%;
    border-radius: 40px;
    transition: 1s;
}

.galery img:hover {
    width: 40%;

}

.galery img:hover~img {
    width: 30%;
    transition: 1s;
    /* filter: grayscale(); */
}


/* Formulario */

.form-flex {
    padding-top: 170px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}

.text-contact-form {
    margin-left: 5%;
    width: 40%;
}

.text-contact-form p {
    font-size: 22px;
}

.contact-form {
    padding: 2% 0 3% 4%;
    width: 30%;
    margin-right: 10%;
    background-color: rgba(0, 0, 0, 0.445);
    align-items: center;
    border-radius: 20px;
}

.contact-form form {
    width: 100%;
}

.contact-form b {
    color: rgb(197, 2, 2);
}

.form-flex form div {
    margin-top: 15px;
}

.contact-form span {
    color: var(--color2);
    font-size: 20px;
}

.contact-form input {
    margin-top: 7px;
    border-radius: 5px;
    padding: 10px 20px 10px;
    width: 80%;
    border: none;
}

.contact-form textarea {
    margin-top: 7px;
    border-radius: 5px;
    padding: 5px 20px 100px 20px;
    width: 80%;
    border: none;
}

.warning-form {
    font-size: smaller !important;
}

.contact-form button {
    margin: 35px 0 0 24%;
    font-weight: 600;
    font-size: 14px;
    padding: 13px 7px 13px 7px;
    border-radius: 7px;
    width: 40%;
}

.contact-form button:hover {
    background-color: var(--color2);
    transition-duration: 0.3s;
}

/* Finaliza contenido */
/* Inicia footer */

.footer-flex {
    margin-top: 200px;
    min-height: 175px;
    padding-top: 50px;
    background-color: var(--color3);
    display: flex;
    justify-content: space-evenly;
}

.footer-flex ul {
    list-style-type: none;
}

.footer-flex li {
    margin-top: 10px;
}

.img-github {
    margin-top: 10px;
    width: 75px;
}

.footer-flex a {
    color: black;
    font-weight: 600;
}

.img-social {
    width: 30px;
    background-color: var(--color2);
    border-radius: 7px;
}

/*Tablet vertical*/
@media (max-width: 900px) {

    /*Formulario*/
    .form-flex {
        padding-top: 170px;
        display: grid;
        justify-items: center;
    }

    .text-contact-form {
        width: 80%;
    }

    .contact-form {
        margin-top: 100px;
        width: 60%;
        margin-right: auto;
        margin-left: auto;
    }

    /*Footer*/
    .footer-flex {
        flex-direction: column;
        padding-left: 20px;
    }

    .footer-flex div {
        margin-bottom: 5px;
    }

    .social-media {
        display: flex;
        flex-direction: row;

    }

    .social-media li {
        margin: 10px 20px 20px 0;

    }
}

/*smartphone regular*/
@media (max-width: 700px) {
    body {
        background-image: none;
    }
    /*Banner*/
    .h1-company-name {
        text-shadow: 5px 5px 20px rgb(0 0 0 / 60%);
    }

    .banner-link {
        padding: 20px 48px 20px 150px;
    }
    /*Galeria*/
    .galery {
        max-width: 95%;
    }

    .galery img {
        margin-top: 25px;
        width: 95%;
        transition: 0s;
    }

    .galery img:hover {
        width: 95%;
    }

    .galery img:hover~img {
        width: 95%;
        transition: 0s;
    }

}
/*smartphone pequeño*/
@media (max-width: 400px) {
    .banner-link {
        font-size: 22px;
        padding: 20px 48px 20px 100px;
    }

    .contact-form {
        width: 90%;
    }
}